[Unit]
Description=Health check'i her 5 dakikada bir çalıştıran zamanlayıcı

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
